name: 'Tests: node.js >= 10'

on: [pull_request, push]

permissions:
  contents: read

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@32a09e8b5346216e84d4cdf4769c70af9903b536
    with:
      range: '>= 10'
      type: minors
      command: npm run tests-only

  node:
    name: 'node >= 10'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo tests completed'
